{% extends 'base.html' %}
{% block content %}
<h3 class="section-title text-center">Add User</h3>
<form method="post" class="form-box">
  <input name="name" class="form-control my-2" placeholder="Name" required>
  <input name="email" type="email" class="form-control my-2" placeholder="Email" required>
  <select name="role" class="form-control my-2">
    <option value="member">Member</option>
    <option value="admin">Admin</option>
  </select>
  <input name="password" type="password" class="form-control my-2" placeholder="Password" required>
  <button class="btn btn-success">Add User</button>
</form>
{% endblock %}
